#title {
	padding-left: 30px;
	font-size: 40px;
}
/*.header {
	background-color: navy;
}
*/
#apiFooter {
	padding-top: 30px;
	padding-left: 15px;
}

#surveyDiv {
	padding-top: 30px;
}
.apiButton {
	background-color: lightgray;
}

/*#EE6E73*/

.right-gap {
	padding-right: 30px;
}

#submitButton {
	padding-top: 30px;
}